PORT=8080
DB_HOST=localhost
DB_PORT=3306
DB_USER=led_user
DB_PASSWORD=DEIN_PASSWORT
DB_NAME=nativity
LED_GPIO=12
LED_COUNT=1000
LED_BRIGHTNESS=128
AUDIO_SPEECH_DIR=/home/singer/led-sound-bachlauf/audio/krippe/Audiosprachdateien
AUDIO_BG_DIR=/home/singer/led-sound-bachlauf/audio/krippe/Hintergrundmusik
