[Unit]
Description=LED Sound Bachlauf (Datei-DB)
After=network.target

[Service]
User=singer
WorkingDirectory=/home/singer/led-sound-bachlauf
ExecStart=/usr/bin/node /home/singer/led-sound-bachlauf/server.js
Restart=always
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
